body {
  font-family: "Bona Nova", serif;
  margin: 0%;
}
h1 {
  font-size: 60px;
}
span {
  color: purple;
}
.bord {
  border: 5px solid gray;
  margin-right: 50%;
}
#bg-img {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.p1 {
  font-weight: 500;
  padding-right: 20px;
}
.link {
  text-decoration: none;

  color: white;
  padding: 10px 20px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5%;
  background-image: linear-gradient(orange, tomato);
}

.flex {
  display: flex;
}
.cut-width {
  width: 50%;
  padding-left: 2%;
}
.cut-width img {
  width: 70%;
  margin-left: 100px;
  margin-top: 20px;
}
#sec-2 {
  margin-top: 50px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 50px;
}
.size {
  font-size: 15px;
  color: white;
}
.exp-width {
  width: 50%;
  margin-right: 5%;
  margin-left: 2%;
  padding-left: 2%;
  box-shadow: 10px 10px 40px black;
  margin-bottom: 50px;
  border-radius: 5px;
}
#exp-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#bodslice {
  border-left: 8px solid;
  border-image: linear-gradient(rgb(255, 94, 0), rgb(255, 187, 0));
  border-image-slice: 1;
}

#slice2 {
  border-left: 8px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
footer p {
  font-size: 10px;
  text-align: center;
}
